div#kelasdetail{
	color: white;
}
div#kelasdetail span.after{
	display: none;
}
div#kelasdetail:hover span.before{
	display: none;
}
div#kelasdetail:hover span.after{
	display: inline;
}
div#kelasdetail:hover{
	box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
	transform: translateY(-2px);
}

button#kelasbuat{
	margin-top: -4px;
	color: #7997f7;
}
button#kelasbuat span.after{
	display: none;
}
button#kelasbuat:hover span.before{
	display: none;
}
button#kelasbuat:hover span.after{
	display: inline;
}
button#kelasbuat:hover{
	margin-top: -4px;
	box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
}